language: node_js

node_js:
  - 6
  - 8
  - node

before_install:
  - chmod +x coverage_run.sh

before_script:
  - npm install
  - npm install -g codecov

script:
  - make lint
  - ./coverage_run.sh

after_success:
  - codecov
